.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: #2e59d9 !important;
    color: aliceblue !important;
}

mark{background:green;color:black;}

.brand-thumbnail{
    width: 70px;
    height: 70px;
    border-radius: 10%;
    border: 1px solid #ddd;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-bottom-width: 1px;
    align-items: center;
    vertical-align: middle;
}